*{
    margin: 0%;
}

html {
    font-family: 'canva sans', arial, monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header nav {
    background-color: #f0f0f0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.nav {
    font-size: 14pt;
    margin: 0.8rem 1rem;
}

a {
    color: black;
    text-decoration: none;
    text-shadow: 0.1px 0.1px 0.5px #464646;
}

a:hover {
    transform: scale(1.1, 1.1);
}


footer nav {
    background-color: #f0f0f0;
    height: 3rem;
    display: flex;
    justify-content: end;
}

footer {
    margin-top: auto;
}

main{
    display: flex;
    flex-direction: column;
}

.right{
    margin-left: 20rem;
}

h1 {
    color: #333333;
    font-size: 60pt;
    margin: 11rem auto 0rem;
    text-shadow: 0.5px 0.5px 2px #464646;
}

strong::before {
    content: "The wriggle way of working";
    color: #d27938;
    animation: changeWord infinite 8s;
    animation-delay: 2s;
}

@keyframes changeWord {
    0% {
        content: "The adaptable way of working";
        color: #333333;
    }
    10% {
        color: #f0f0f0;
    }
    20% {
        content: "The efficient way of working";
        color: #387595;
    }
    30% {
        content: "The reactive way of working";
        color: #6c6b6b;
    }
    40% {
        content: "The effective way of working";
        color: #d0483a;
    }
    60% {
        content: "The easy way of working";
    }
    70% {
        content: "The better way of working";
        color: #387595;
    }
    80% {
        content: "The wriggle way of working";
        color: #d0483a;
    }
    100% {
        color: #d27938;
        transform: scale(2, 2);
    }
}


section.opening {
    font-size: 18pt;
    margin: 5rem auto -2rem;
    text-align: center;
    height: 50vh;
    
}


section.main.anchors {
    display: flex;
    margin: 4rem auto;
    justify-content: space-evenly;
}

.anchor-border {
    font-size: 15pt;
    border-style: solid;
    border-color: #f0f0f0;
    border-radius: 25%;
    padding: 3% 6%;

    background-color: #f0f0f0;
    box-shadow: 0.5px 2px 4px 2px #a7a6a6b4;
}

.anchor-border:hover {
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    transform: scale(1.1, 1.1);
}

section h2 {
    color: #333333;
    font-size: 30pt;
    text-shadow: 0.5px 0.5px 1px #464646;
    min-width: 40rem;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}

section.about {
    font-size: 18pt;
    margin: 1rem auto -5rem;
    text-align: center;
    height: 50vh;
    width: 60vw;
}

h3 {
    color: #333333;
    font-size: 25pt;
    margin: 0 2rem 2rem 2rem;

    text-shadow: 0.2px 0.2px 1px #464646;
}

section.main.features {
    display: flex;
}

section.main.features.right {
    flex-direction: row-reverse;
}

p.description.right {
    margin: 3rem 5rem 0 12rem;
    min-width: 40rem;
}

p.description.left {
    margin: 3rem 12rem 0 5rem;
}

section.teams {
    background-color: #f6f6f6b4;
    margin: 0rem;
    height: 50vh;
    font-size: 15pt;
    text-align: left;

    border-style: solid;
    border-color: #f6f6f6b4;
    padding: 2%;
    box-shadow: 0px 2px 4px 4px #eaeaeab4;
}


section.boards {
    background-color: #ffffff;
    margin: 2rem 0rem;
    height: 50vh;
    font-size: 15pt;
    text-align: right;

    padding: 2%;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0px 2px 4px 4px #ecececb4;
}


section.tasks {
    font-size: 15pt;
    text-align: left;
    background-color: #f6f6f6b4;
    
    height: 50vh;
    margin: 0rem;
    border-style: solid;
    border-color: #f6f6f6b4;
    padding: 2%;
    box-shadow: 1px 2px 4px 4px #eaeaeab4;
}


section.dashboard {
    font-size: 15pt;
    margin: 2rem 0rem;
    height: 50vh;
    padding: 2%;
    text-align: right;

    padding: 2%;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0px 2px 4px 4px #ecececb4;
}


@media screen and (min-width: 360px) and (max-width: 600px) {
    body {
        width: 100%;
    }
    header nav {
        height: 2.5rem;
    }

    .nav {
        font-size: 10pt;
        margin: 0.8rem 0.5rem;
    }

    .nav.image {
        width: 1rem;
        height: 1rem;
    }
    
    footer nav {
        height: 2rem;
    }

    h1 {
        font-size: 40pt;
        margin: 10rem auto 6rem;
    }

    strong::before {
        content: "wriggle";
        color: #333333;
        animation: changeWord infinite 10s;
    }
    
    @keyframes changeWord {
        0% {
            content: "efficient";
            color: #333333;
        }
        20% {
            content: "reactive";
            color: #387595;
        }
        30% {
            color: #6c6b6b;
        }
        40% {
            content: "effective";
            color: #d0483a;
        }
        60% {
            content: "easy";
        }
        70% {
            content: "better";
            color: #387595;
        }
        80% {
            content: "wriggle";
            color: #d0483a;
        }
        100% {
            color: #d27938;
            transform: scale(2, 2);
        }
    }
    

    section.opening {
        font-size: 12pt;
        margin: 3rem auto -2rem;        
    }
    
    
    section.main.anchors {
        display: flex;
        flex-direction: column;
        margin: 2rem auto 0rem;
        justify-content: space-between;
        height: 10vh;
    }
    
    .anchor-border {
        font-size: 10pt;
        border-style: solid;
        border-radius: 20%;
        padding: 0.6% 0.6%;
    }
    
    
    section h2 {
        min-width: 20rem;
        font-size: 18pt;
    }
    
    section.about h2 {
        margin-left: -3rem;
        margin-bottom: 1rem;
    }

    section.about {
        font-size: 10pt;
        margin: -6rem auto -7rem;
    }
    
    section.main.features {
        flex-direction: column;
        min-width: 40rem;
    }
    
    section.main.features.right {
        flex-direction: column;
    }

    h3 {
        color: #333333;
        font-size: 16pt;
        margin-bottom: 0.2rem;

        text-shadow: 0.2px 0.2px 1px #464646;
    }

    p.description.right {
        margin: 1rem 0 1rem -27rem;
        inline-size: 19rem;
        text-align: center;
        font-size: 10pt;
    }
    
    p.description.left {
        margin: 1rem 20rem 1rem 0;
        font-size: 10pt;
    }
    
    img.features {
        width: 10rem;
        height: 10rem;
        margin-left: 5rem;
    }

    img.features.right {
        margin-left: -15rem;
    }

    section.teams {
        margin: 1rem;
        text-align: center;
    }
    
    
    section.boards {
        margin: 1rem;
        text-align: center;
        
    }
    
    
    section.tasks {
        margin: 1rem;
        text-align: center;
    }
    
    
    section.dashboard {
        margin: 1rem;
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 1020px) {
    body {
        width: 100%;
    }
    header nav {
        height: 3rem;
    }

    .nav {
        font-size: 12pt;
        margin: 0.8rem 0.5rem;
    }

    .nav.image {
        width: 2rem;
        height: 1.5rem;
    }
    
    footer nav {
        height: 3rem;
    }

    h1 {
        font-size: 35pt;
        margin: 10rem auto 6rem;
    }

    section.opening {
        font-size: 14pt;
        margin: 3rem auto 0rem;        
    }
    
    
    section.main.anchors {
        margin: 3rem auto 0rem;
        justify-content: space-between;
    }
    
    .anchor-border {
        font-size: 12pt;
        border-style: solid;
        border-radius: 20%;
        padding: 5% 5%;
    }
    
    
    section h2 {
        min-width: 20rem;
        font-size: 30pt;
    }
    
    section.about h2 {
        margin-bottom: 1rem;
    }

    section.about {
        font-size: 12pt;
        min-width: 40rem;
        margin: -6rem auto -10rem;
    }

    h3 {
        color: #333333;
        font-size: 20pt;
        margin-bottom: 2rem;

        text-shadow: 0.2px 0.2px 1px #464646;
    }

    p.description.right {
        margin: 1rem 2rem 1rem -10rem;
        text-align: right;
        font-size: 12pt;
    }
    
    p.description.left {
        margin: 1rem 1rem 1rem 2rem;
        text-align: left;
        font-size: 12pt;
    }
    
    img.features {
        width: 8rem;
        height: 8rem;
        margin-left: 5rem;
    }

    img.features.right {
        margin-left: -15rem;
    }

    section.teams {
        height: auto;
        text-align: center;
    }
    
    
    section.boards {
        height: auto;
        text-align: center;
        
    }
    
    
    section.tasks {
        height: auto;
        text-align: center;
    }
    
    
    section.dashboard {
        height: auto;
        text-align: center;
    }
}